body {
    background-color: #FFFFF8;
    width: 75%;
    margin: auto;
    font-size: 1.2em;
    font-family: "Source Sans Pro", serif;
}

p {
    font-size: 1em;
}

ul {
    font-size: 0.8em;
}

ol {
    font-size: 0.8em;
}

#title {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

#greysecnum {
    padding-right:0.2em;
    font-weight: 600;
    color: crimson;
}

h2 {
    font-size: 2.8em;
    font-weight: 600;
    margin-bottom: -0.1em;
}